 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 /* ===========================================================Title=================================================================== */

.title h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding: 1rem;
}

/* ===========================================================Title=================================================================== */ 
/* ===========================================================Project 1=================================================================== */
.btn{
  padding: 10px 20px;
  border-radius: 6px;
  margin: 1rem;
  border: none;
  
}
.btn:hover{
  border: 1px solid #333;
  cursor: pointer;
  
}
.btn.danger{
  background-color: rgb(255, 54, 54);
  color: white;
}
.btn.success{
  background-color: rgb(15, 159, 61);
  color: white;
}
.btn.warning{
  background-color: orange;
  color: white;
}
.btn.primary{
  background-color: magenta;
  color: white;
}
/* ===========================================================Project 1=================================================================== */
